body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
img {
  height: 25px;
  width: 25px;
}
.image_contact {
  height: 40px;
  width: 40px;
}
.container {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h2 {
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label,
input,
textarea {
  text-align: left;
  display: block;
  width: 100%;
  font-size: 16px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

.submit-btn {
  background-color: #1407d3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #555;
}

.back-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.back-btn:hover {
  background-color: #555;
}
